<!DOCTYPE html>
<html ng-app="at">
  <head>
    <meta charset="utf-8">
    <title>AT - Login Helper</title>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/footer.css"/>
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendors/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>

    <script src="assets/vendors/jquery/dist/jquery.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendors/angular/angular.min.js"></script>
  </head>

  <body ng-controller="ATController">
    <div class="wrap">

      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">AT</a>
            </div>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default btn-sm">Submit</button>
            </form>
            <button class="btn btn-default navbar-right navbar-btn btn-sm account-add-btn">Add</button>
          </div>
        </nav>
      </header>

      <article class="container">

        <section class="account-add-form hidden center-block">
          <div class="account-add form-horizontal">

            <div class="account-add-name form-group">
              <label for="" class="col-sm-3 control-label">Environment Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Enter environment name."/>
              </div>
            </div>

            <div class="account-add-url form-group">
              <label for="" class="col-sm-3 control-label">Environment Url:</label>
              <div class="col-sm-8">
                <input type="url" class="form-control" placeholder="Enter environment url."/>
              </div>
            </div>

            <div class="account-textarea form-group">
              <label for="" class="col-sm-3 control-label">Environment accounts:</label>
              <div class="col-sm-8">
                <textarea class="account-add-accounts form-control" rows="10" placeholder="Enter account info here."></textarea>
              </div>
            </div>


            <div class="edit-buttons form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary account-add-save">Save</button> &nbsp;
                <button class="btn btn-danger account-add-cancel">Cancel</button>
              </div>
            </div>
          </div>
        </section>

        <section class="env-list">
          <div class="panel-group" id="accordion">

            <div ng-repeat="env in environments">
              <div class="panel panel-default" id="{{env.id}}">
                <div class="panel-heading">
                  <h4>
                    <a ng-href="#collapse{{$index}}" class="env-name" data-toggle="collapse" data-target="#collapse{{$index}}" data-parent="#accordion">
                      {{env.name}}
                    </a>
                  </h4>
                  <p class="env-url">{{env.url}}</p>
                  <p class="env-actions">
                    <button class="btn btn-edit">
                      <i class="glyphicon glyphicon-edit"></i> Edit
                    </button> &nbsp;
                    <button class="btn bnt-remove">
                      <i class="glyphicon glyphicon-remove"></i> Remove
                    </button>
                  </p>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul ng-repeat="account in env.accounts" class="account-list">
                      <li class="account-info">
                        <span class="account-number">{{account.number}}</span>
                        -
                        <span class="account-type">{{account.type}}</span>

                        <span ng-repeat="bs in browsers">
                          <a href="#" ng-click="startBrowser($event)">{{bs}}</a>
                        </span>
                      </li>
                    </ul>
                    <div class="account-edit hidden form-horizontal">

                      <div class="account-edit-name form-group">
                        <label for="" class="col-sm-3 control-label">Environment Name:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Enter environment name."/>
                        </div>
                      </div>

                      <div class="account-edit-url form-group">
                        <label for="" class="col-sm-3 control-label">Environment Url:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Enter environment url.">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Environment accounts:</label>
                        <div class="col-sm-8">
                          <textarea class="account-edit-accounts form-control" rows="10" placeholder="Enter account info here."></textarea>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="edit-buttons col-sm-offset-3">
                          <button class="btn btn-primary btn-save">Save</button> &nbsp;
                          <button class="btn btn-danger">Cancel</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

      </article>

    </div>

    <script src="client/app.js"></script>

  </body>
</html>
