<!DOCTYPE html>
<html ng-app="at">
  <head>
    <meta charset="utf-8">
    <title>AT - Login Helper</title>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/footer.css"/>
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="assets/vendors/jquery/dist/jquery.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendors/angular/angular.min.js"></script>
  </head>

  <body ng-controller="ATController" data-spy="scroll" data-target=".sidebar">
    <div class="wrap">

      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">AT - Login with one-click!</a>
            </div>
            <button class="btn btn-info navbar-right navbar-btn btn-sm account-add-btn">Add an environment</button>
          </div>
        </nav>
      </header>

      <article class="container">

        <section class="account-add-form hidden center-block">

          <div class="page-header">
            <h1>Add an Environment:</h1>
          </div>

          <div class="account-add form-horizontal">

            <div class="account-add-name form-group">
              <label for="" class="col-sm-3 control-label">Environment Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Enter environment name."/>
              </div>
            </div>

            <div class="account-add-url form-group">
              <label for="" class="col-sm-3 control-label">Environment Url:</label>
              <div class="col-sm-8">
                <input type="url" class="form-control" placeholder="Enter environment url."/>
              </div>
            </div>

            <div class="account-textarea form-group">
              <label for="" class="col-sm-3 control-label">Environment accounts:</label>
              <div class="col-sm-8">
                <textarea class="account-add-accounts form-control" rows="10" placeholder="Enter account info here."></textarea>
              </div>
            </div>


            <div class="edit-buttons form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary account-add-save">Save</button> &nbsp;
                <button class="btn btn-danger account-add-cancel">Cancel</button>
              </div>
            </div>
          </div>
        </section>

        <section class="env-list row">

          <div class="col-sm-9">
            <div ng-repeat="env in environments">
              <div class="page-header" id="{{env.id}}">
                <h1>{{env.name}}
                  <small class="pull-right">
                    <button class="btn btn-link">
                      <i class="glyphicon glyphicon-edit"></i> Edit
                    </button>
                    <button class="btn btn-link">
                      <i class="glyphicon glyphicon-remove"></i> Remove
                    </button>
                  </small>
                  <p class="env-url">{{env.url}}</p>
                </h1>
              </div>

              <table class="table table-striped">
                <thead>
                  <th>Account Number</th>
                  <th>Account Type</th>
                  <th>Open with</th>
                </thead>
                <tbody>
                  <tr ng-repeat="account in env.accounts">
                    <td>{{account.number}}</td>
                    <td>{{account.type}}</td>
                    <td>
                      <span ng-repeat="bs in browsers">
                        <a href="#" ng-click="startBrowser($event)" class="label"
                           ng-class="{'label-info': bs === 'ie', 'label-danger': bs === 'firefox', 'label-warning': bs === 'chrome', 'label-default': bs === 'safari'}">
                          {{bs}}
                        </a> &nbsp;
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="account-edit hidden form-horizontal">
                <div class="account-edit-name form-group">
                  <label for="" class="col-sm-3 control-label">Environment Name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Enter environment name." value="{{env.name}}">
                  </div>
                </div>

                <div class="account-edit-url form-group">
                  <label for="" class="col-sm-3 control-label">Environment Url:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Enter environment url." value="{{env.url}}">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Environment accounts:</label>
                  <div class="col-sm-8">
                    <textarea class="account-edit-accounts form-control" rows="10" placeholder="Enter account info here.">
                      {{env.accountStr}}
                    </textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="edit-buttons col-sm-offset-3">
                    <button class="btn btn-primary btn-save">Save</button> &nbsp;
                    <button class="btn btn-danger">Cancel</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-sm-3 sidebar">

            <form role="search">
              <input type="text" class="form-control" placeholder="Search">
            </form>

            <ul class="nav">
              <li ng-repeat="env in environments">
                <a ng-href="#{{env.id}}">{{ env.name }}</a>
              </li>
            </ul>
          </div>

        </section>

      </article>

    </div>

    <script src="client/app.js"></script>

  </body>
</html>
