<!DOCTYPE html>
<html ng-app="at">
  <head>
    <meta charset="utf-8">
    <title>Login helper</title>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/footer.css"/>
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendors/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>

    <script src="assets/vendors/jquery/dist/jquery.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendors/angular/angular.min.js"></script>

  </head>
  <body ng-controller="ATController">
    <div class="wrap">
      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Hello</a>
            </div>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default btn-sm">Submit</button>
            </form>
            <button class="btn btn-default navbar-right navbar-btn btn-sm account-add-btn">Add</button>
          </div>
        </nav>
      </header>
      <article>
        <section class="account-add-form hidden center-block">
          <div class="account-add">
            <div class="account-add-name">
              <label for="">Environment Name:</label>
              <input type="text" placeholder="Enter environment name."/>
            </div>
            <div class="account-add-url">
              <label for="">Environment Url:</label>
              <input type="text" placeholder="Enter environment url."/>
            </div>
            <textarea class="account-add-accounts" name="" cols="30" rows="10" placeholder="Enter account info here."></textarea>

            <div class="edit-buttons">
              <button class="btn btn-primary account-add-save">Save</button> &nbsp;
              <button class="btn btn-danger account-add-cancel">Cancel</button>
            </div>
          </div>
        </section>
        <section class="env-list">
          <div class="panel-group" id="accordion">

            <div ng-repeat="env in environments">
              <div class="panel panel-default" id="{{env.id}}">
                <div class="panel-heading">
                  <h4>
                    <a ng-href="#collapse{{$index}}" class="env-name" data-toggle="collapse" data-target="#collapse{{$index}}" data-parent="#accordion">
                      {{env.name}}
                    </a>
                  </h4>
                  <p class="env-url">{{env.url}}</p>
                  <p class="env-actions">
                    <button class="btn btn-edit">
                      <i class="glyphicon glyphicon-edit"></i> Edit
                    </button> &nbsp;
                    <button class="bnt-remove">
                      <i class="glyphicon glyphicon-remove"></i> Remove
                    </button>
                  </p>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul ng-repeat="account in env.accounts" class="account-list">
                      <li class="account-info">
                        <span class="account-number">{{account.number}}</span>
                        -
                        <span class="account-type">{{account.type}}</span>

                        <span ng-repeat="bs in browsers">
                          <a href="#" ng-click="startBrowser($event)">{{bs}}</a>
                        </span>
                      </li>
                    </ul>
                    <div class="account-edit hidden">
                      <div class="account-edit-name">
                        <label for="">Environment Name:</label>
                        <input type="text" placeholder="Enter environment name."/>
                      </div>
                      <div class="account-edit-url">
                        <label for="">Environment Url:</label>
                        <input type="text" placeholder="Enter environment url."/>
                      </div>
                      <textarea class="account-edit-accounts" name="" cols="30" rows="10" placeholder="Enter account info here."></textarea>

                      <div class="edit-buttons">
                        <button class="btn btn-primary btn-save">Save</button> &nbsp;
                        <button class="btn btn-danger">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </article>
      <footer>
        <p>You selected:</p>
        <div></div>
        <button class="btn btn-success btn-start">Start</button>
      </footer>
    </div>
    <script src="client/app.js"></script>
  </body>
</html>
