<!DOCTYPE html>
<html ng-app="at">
  <head>
    <meta charset="utf-8">
    <title>AT - Login Helper</title>
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-browser.css"/>
    <link rel="stylesheet" href="assets/css/font-lato.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/footer.css"/>

    <script src="assets/vendors/jquery/dist/jquery.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/vendors/angular/angular.min.js"></script>
  </head>

  <body ng-controller="ATController" data-spy="scroll" data-target=".sidebar">
    <div class="wrap">

      <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">AT</a>
              <p class="navbar-text">Login by just one-click!</p>
            </div>
            <button class="btn navbar-right navbar-btn btn-sm"
                    ng-class="{'btn-info': !isAddingEnv, 'btn-success': isAddingEnv}"
                    ng-click="addEnv()">
                    <i class="glyphicon glyphicon-plus"></i>
              {{ isAddingEnv ? 'Adding' : 'Add an environment' }}
            </button>
          </div>
        </nav>
      </header>

      <article class="container">

        <section class="ng-hide" ng-show="isAddingEnv" ng-controller="EnvNewController">

          <div class="page-header">
            <h1>Add an Environment</h1>
          </div>

          <form class="form-horizontal">

            <div class="form-group">
              <label for="" class="col-sm-3 control-label">Environment Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       placeholder="Enter environment name." ng-model="newEnv.name"/>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label">Environment Type:</label>
              <div class="col-sm-8">
                <select name="envType" class="form-control" ng-options="type.value as type.name for type in environmentTypes" ng-model="newEnv.type">
                </select>
              </div>
            </div>

            <div class="account-add-url form-group">
              <label for="" class="col-sm-3 control-label">Environment Url:</label>
              <div class="col-sm-8">
                <input type="url" class="form-control"
                       placeholder="Enter environment url." ng-model="newEnv.url"/>
              </div>
            </div>

            <div class="account-textarea form-group">
              <label for="" class="col-sm-3 control-label">Environment accounts:</label>
              <div class="col-sm-8">
                <textarea class="form-control" rows="10"
                          placeholder="Enter account info here." ng-model="newEnv.accountStr">
                </textarea>
              </div>
            </div>


            <div class="edit-buttons form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary" ng-click="save()">Save</button> &nbsp;
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
              </div>
            </div>
          </form>

        </section>

        <section class="env-list row" ng-hide="isAddingEnv">

          <div class="col-sm-8">
            <p class="bg-warning env-no-results" ng-hide="filtedEnvs.length"> No results found. </p>
            <div ng-repeat="env in filtedEnvs = (environments | filter : query)"
            class="environment" ng-controller="EnvController">
              <div class="page-header" id="{{env.id}}">
                <h1>
                  {{env.name}}
                  <p class="env-meta">
                    <span class="env-url">{{env.url}}</span>
                    &nbsp;
                    <span class="env-type label label-default">{{env.type | envTypeName}}</span>
                    &nbsp;
                    <span class="env-from">
                      &nbsp;
                      <i class="glyphicon glyphicon-share"
                         data-toggle="tooltip" data-placement="bottom" title="Imported from Wiki Page"
                         ng-if="env.isAuto" ng-mouseover="showTooltip($event)" ng-mouseout="hideTooltip($event)"></i>
                      <i class="glyphicon glyphicon-edit"
                         data-toggle="tooltip" data-placement="bottom" title="Edited Manually"
                         ng-if="!env.isAuto" ng-mouseenter="showTooltip($event)" ng-mouseleave="hideTooltip($event)" ></i>
                    </span>
                  </p>
                  <p class="env-action">
                    <button class="btn btn-info btn-xs" ng-click="edit(env)">
                      <i class="glyphicon glyphicon-edit"></i> Edit
                    </button>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeConfirmModal-{{env.id}}">
                      <i class="glyphicon glyphicon-remove"></i> Remove
                    </button>
                  </p>
                </h1>
              </div>

              <table class="table table-striped" ng-show="!env.isEditing">
                <thead>
                  <th>Account Number</th>
                  <th>Account Type</th>
                  <th>Open with</th>
                </thead>
                <tbody>
                  <tr ng-repeat="account in env.accounts | accountFilter : query" ng-controller="AccountController">
                    <td>{{account.number}}</td>
                    <td>{{account.type}}</td>
                    <td>
                      <span class="browser" ng-repeat="bs in browsers">
                        <a href="#" ng-click="startBrowser($event)" class="label" data-name="{{bs}}"
                           data-toggle="tooltip" title="Open with - {{bs}}"
                           ng-mouseenter="showTooltip($event)" ng-mouseleave="hideTooltip($event);"
                           ng-class="{'label-info': bs === 'ie', 'label-danger': bs === 'firefox', 'label-warning': bs === 'chrome', 'label-default': bs === 'safari'}">
                          <i class="icon icon-{{bs}}"></i>
                        </a> &nbsp;
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <form name="envEditForm" class="ng-hide form-horizontal" ng-show="env.isEditing">
                <div class="account-edit-name form-group">
                  <label for="" class="col-sm-3 control-label">Environment Name:</label>
                  <div class="col-sm-8">
                    <input type="text" name="envName" class="form-control" placeholder="Enter environment name." ng-model="env.name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Environment Type:</label>
                  <div class="col-sm-8">
                    <select name="envType" class="form-control" ng-options="type.value as type.name for type in environmentTypes" ng-model="env.type">
                    </select>
                  </div>
                </div>

                <div class="account-edit-url form-group">
                  <label for="" class="col-sm-3 control-label">Environment Url:</label>
                  <div class="col-sm-8">
                    <input type="text" name="envUrl" class="form-control" placeholder="Enter environment url." ng-model="env.url">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label">Environment accounts:</label>
                  <div class="col-sm-8">
                    <textarea name="envAccountStr" class="account-edit-accounts form-control" rows="10" placeholder="Enter account info here." ng-model="env.accountStr">
                    </textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="edit-buttons col-sm-offset-3">
                    <button class="btn btn-primary btn-save" ng-click="save(env)">Save</button> &nbsp;
                    <button class="btn btn-danger" ng-click="cancel(env)">Cancel</button>
                  </div>
                </div>
              </form>

              <div id="removeConfirmModal-{{env.id}}" role="dialog" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure to delete environment:</p>
                      <p>  <strong class="label label-primary">{{env.name}}</strong></p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-danger" ng-click="remove(env)">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 sidebar">
            <div class="affix" data-spy="affix">
              <form role="search">
                <input type="text" autofocus class="form-control" placeholder="Search Environment or Account" ng-model="query">
              </form>

              <h4>Environment List</h4>
              <ul class="nav list-group">
                <li ng-repeat="env in environments | filter : query" class="list-group-item">
                  <a ng-href="#{{env.id}}">
                    {{ env.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </section>

      </article>

    </div>

    <script src="app.js"></script>
    <script src="livereload.js"></script>

  </body>
</html>
