body {
  position: relative;
  padding-bottom: 100px;
  font: 13px/1.5 Lato, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.environment {
  margin-top: 40px;
}

.environment:first-child {
  margin-top: 0;
}

.page-header {
  margin-bottom: 5px;
}

.page-header h1 {
  margin-bottom: 0;
  padding-top: 60px;
  font-size: 28px;
}

.env-url {
  margin-top: 5px;
    font-size: 14px;
    color: #999;
}

.env-action {
  margin-bottom: 0;
}

.browser .label {
  font-size: 100%;
}


/* Sidebar
 * ----------------------------------------------------- */
.sidebar {
  padding-top: 30px;
}

.affix {
  top: 100px;
}

.sidebar h4 {
  margin-top: 30px;
}

.sidebar a {
  color: #585858;
  font-size: 12px;
}

.sidebar .active a {
  color: white;

}

.sidebar a:hover,
.sidebar .active a:hover,
.sidebar .nav>li>a:hover {
  background: none;
  font-weight: normal;
}

.sidebar .nav>li>a {
  padding: 0;
}
