body {
  position: relative;
}

.hidden {
    display: none;
}

.wrap {
    padding-top: 60px;
}

.panel {
    position: relative;
}

.env-url {
    font-size: 14px;
    color: #999;
}

.env-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar {
  padding-top: 30px;
}

.sidebar a {
  color: #585858;
}

.sidebar .active a {
  font-weight: bold;
  color: #337ab7;
}
