body {
  position: relative;
  padding-bottom: 100px;
}

.hidden {
    display: none;
}

.environment {
  margin-top: 40px;
}

.environment:first-child {
  margin-top: 0;
}

.page-header h1 {
  padding-top: 60px;
}

.env-url {
    font-size: 14px;
    color: #999;
}

.sidebar {
  padding-top: 30px;
}

.affix {
  top: 100px;
}

.sidebar a {
  color: #585858;
}

.sidebar .active a {
  font-weight: bold;
  color: #337ab7;
}

.browser .label {
  font-size: 100%;
}
